# dependencies
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/versions

# next.js
/.next/
/out/
next-env.d.ts

# production
/build
/dist

# testing
/coverage
/playwright-report
/blob-report
/test-results
/.nyc_output

# supabase
/supabase/.branches
/supabase/.temp
/supabase/.env

# env
.env
.env.*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo

# os / editor
.DS_Store
*.pem
Thumbs.db
.idea/
.vscode/*
!.vscode/extensions.json

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
